<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" class="progress-bar" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Edit user</h1>
    <div mat-dialog-content>
        <div>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>Company name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.companyName" matInput placeholder="Enter company name">
            </mat-form-field>

            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>First name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="Enter first name" required #firstName="ngModel">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Enter last name" required #lastName="ngModel">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="Enter email" required type="email" name="email" email #eMail="ngModel">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full-width"> 
                <mat-label>Birth Date</mat-label>
                <input [disabled]="loading" [(ngModel)]="birthDate" matInput placeholder="Enter date" [matDatepicker]="picker1" required #bDate="ngModel">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="this.dialogRef.close()">Cancel</button>
        <button [disabled]="firstName.invalid || lastName.invalid || eMail.invalid || bDate.invalid || loading" mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
    </div>
</div>