:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.login-card {
    box-shadow: 0 0 4px 0px rgb(0 0 0 / 60%);
    display: flex;
    flex-direction: column;

    img {
        height: 64px;
        width: auto;
        object-fit: contain;
    }

    .login-mail-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .mat-card-title {
            display: block;
            margin-bottom: 18px;
        }
    
        .mat-form-field {
            width: 100%;
            min-width: 300px;
        }
    
        .btl-login-mail {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
    
    h3 {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
    }
    
    h3 span {
        background: #fff;
        padding: 0 10px;
    }
    
    .other-auth-area {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
    }
    
    button {
        margin-top: 8px;
    }
}

