<mat-card class="user-detail-header">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="userMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="editUserDetail()">Edit</button>
    </mat-menu>

    <img src="./assets/img/profile.webp" alt="profile-img" class="profile-img">
    <div class="user-details">
        <h2>{{ user.companyName}}</h2>
        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
        <span>{{ user.email }}</span>
    </div>
</mat-card>

<mat-card class="mt-23">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="addressMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #addressMenu="matMenu">
        <button mat-menu-item (click)="editMenu()">Edit</button>
    </mat-menu>

    <mat-card-title>Address</mat-card-title>
    <mat-card-content>
        {{ user.street }}<br>
        {{ user.zipCode }} {{ user.city }}
    </mat-card-content>
</mat-card>
<br>
<mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Actions done</mat-label>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let action of actions"
        (removed)="remove(action)">
        {{action}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="New action..."
        #actionInput
        [formControl]="actionCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let action of filteredActions | async" [value]="action">
        {{action}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>