/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mr-16 {
    margin-right: 16px;
}

.mb-23 {
    margin-bottom: 23px;
}

.mt-23 {
    margin-top: 32px;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.dialog-container {
    position: relative;

    .progress-bar {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -24px;
        width: calc(100% + 48px);
    }
}

.access-denied {
    background-color: red;
    color: white;
    white-space: pre-wrap;
}